.ui-widget {
    font-size: 12px !important;
}
.ui-layout-north {
    z-index:20 !important;
    overflow:visible !important;;
}
.ui-layout-north .ui-layout-unit-content {
    overflow:visible !important;
}
.ui-widget-header {
    text-align: center;
    text-transform: capitalize;
}
.ui-datatable .ui-datatable-footer .footer-section {
    text-align: left;
}

.ui-tabs .ui-tabs-nav li{
    float:right!important;
}

.ui-inputfield
{
    width: 366px !important;
}

.ui-inputtext
{
    width: 366px !important;
}