.ui-widget {
    font-size: 12px !important;
}
.ui-layout-north {
    z-index:20 !important;
    overflow:visible !important;;
}
.ui-layout-north .ui-layout-unit-content {
    overflow:visible !important;
}
.ui-widget-header {
    text-align: center;
    text-transform: uppercase;
}
.ui-datatable .ui-datatable-footer .footer-section {
    text-align: left;
}

.ui-tabs .ui-tabs-nav li{
    float:right!important;
}

.ui-accordion
{
    width: 200px !important;
    height: auto;
    border:1px solid #E5E5E5;
    display: inline-block;
}

.ui-accordion-header.ui-helper-reset.ui-state-default.ui-state-active.ui-corner-top
{
    border-radius: 0;
    margin-top: 0;
    background: #e5e5e5;
}

.ui-accordion-header.ui-helper-reset.ui-state-default.ui-corner-all
{
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.ui-accordion.ui-accordion-header.ui-state-default
{
    margin-bottom: 0 !important;
}

.ui-selectonemenu-label
{
    width:100% !important;
}